@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Geist+Mono:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');


.about {
    background-color: black;
    color: white; // Optional: To make the text readable on a black background
    min-height: 100vh; // Ensures the background covers the full viewport height
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    // border: 1px solid #fff;

    .About-Sec {
        width: 700px;
        // border: 1px solid #fff;
        border-radius: 20px;


        .img-div {
            // width: 30%;
            // border: 1px solid #fff;

            .prof-pic {
                width: 150px;
                height: 150px;
                object-fit: cover;
                // border: 5px solid #ffffff40;
                border-radius: 200px;
                backdrop-filter: blur(18px);
                -webkit-backdrop-filter: blur(18px);


            }
        }



        .content-div {
            // width: 70%;
            // border: 1px solid #fff;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 20px;

            .greeting-text {
                font-size: 55px;
                font-family: "Geist Mono", monospace;
            }

            .about-cntnt {
                font-family: "Geist Mono", monospace;
                font-size: 14px;
            }
        }

        .Experience-sec {
            .Exp-1 {
                background-color: var(--light-opacity-dark);
                border-radius: 10px;

                .Title-Time {
                    font-family: "Geist Mono", monospace;
                }

                .Designation {
                    font-family: "Geist Mono", monospace;
                    color: #ffffff90;
                }
            }
        }
    }
}