@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Geist+Mono:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');


.about {
    color: white; // Optional: To make the text readable on a black background
    min-height: 160vh; // Ensures the background covers the full viewport height
    padding: 20px 20px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #fff;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #2c2f38 0%, #3c434e 13%, #4b505a 25%, #5d6269 38%, #6e7277 50%, #7f8589 62%, #91989b 75%, #a4a9ab 87%, #b7b9ba 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    @keyframes animate {
        0% {
            background-position: 0 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0 50%;
        }
    }

    .About-Sec {
        width: 700px;
        // border: 1px solid #fff;
        border-radius: 20px;
        background-color: #14141456;
        border-radius: 10px;


        .img-div {
            // width: 30%;
            // border: 1px solid #fff;

            .prof-pic {
                width: 150px;
                height: 150px;
                object-fit: cover;
                // border: 5px solid #ffffff40;
                border-radius: 200px;
                backdrop-filter: blur(18px);
                -webkit-backdrop-filter: blur(18px);


            }
        }



        .content-div {
            // width: 70%;
            // border: 1px solid #fff;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 20px;

            .greeting-text {
                font-size: 55px;
                font-family: "Geist Mono", monospace;
            }

            .about-cntnt {
                font-family: "Geist Mono", monospace;
                font-size: 14px;
            }
        }

        .Experience-sec {
            .Exp-1 {
                background-color: #14141456;
                border-radius: 10px;

                .Company-Logo {
                    .m-logo {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                .Title-Time {
                    font-family: "Geist Mono", monospace;

                    a {
                        color: var(--White);
                    }
                }

                .m-Designation {
                    font-family: "Geist Mono", monospace;
                    color: #DD5431;
                }
            }
        }

        .Skill-Sec {
            .Skills {
                .Skill {
                    background-color: #14141456;
                    border-radius: 10px;

                    .icn {
                        font-size: 40px;
                        color: var(--light-blue);
                        animation: Rotation-center 10s linear 0s infinite normal none;

                        @keyframes Rotation-center {
                            0% {
                                transform: rotate(0);
                            }

                            100% {
                                transform: rotate(360deg);
                            }
                        }
                    }

                    .gsap-icn {
                        width: 40px;
                        animation: Rotation-center 10s linear 0s infinite normal none;


                    }

                    h4 {
                        font-family: "Geist Mono", monospace;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}