@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: relative;
    background-color: var(--Black);
}

.navItems {
    background-color: var(--light-opacity-dark);
    padding: 8px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    position: fixed;
    top: 30px;
    display: flex;
    /* Initially hidden */
    z-index: 9999 !important;
}

.navItems.active {
    display: flex;
    /* Displayed when menu is open */
}

.navItem {
    color: var(--White);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 25px;
    transition: .5s ease;
    position: relative;
    cursor: pointer;
    z-index: 5;
}

.navItem.active {
    transition: .5s ease;
}

.navItems .navItem:nth-child(1).active~.nav_bg {
    border-radius: 50px 20px 20px 50px;
}

.navItems .navItem:nth-child(2).active~.nav_bg {
    border-radius: 50px;
    left: 34%;
}

/* Target the third child */
.navItems .navItem:nth-child(3).active~.nav_bg {
    border-radius: 20px 50px 50px 20px;
    left: 66%;
}

.tab-slider {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 130px;
    background-color: var(--Light-Dark);
    border-radius: 20px;
    transition: 0.3s ease left;
}

.nav_bg {
    position: absolute;
    background: hsla(0, 0%, 100%, .094);
    height: 60%;
    z-index: 1;
    left: 4%;
    top: 20%;
    border: 1px solid hsla(0, 0%, 100%, .05);
    align-items: center;
    justify-content: center;
    width: 30%;
    transition: .5s ease;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    background-color: var(--light-opacity-dark);
    padding: 15px 25px;
    border-radius: 50px;
    color: var(--White);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    display: none;
    z-index: 1000;
}

@media only screen and (max-width: 600px) {

    .toggle-btn {
        display: flex;
    }

    .navItems {
        background-color: var(--light-opacity-dark);
        padding: 15px 5px;
        width: 200px;
        border-radius: 20px;
        display: none;
        flex-direction: column;
        gap: 6px;
        position: fixed;
        top: 100px;
        z-index: 100;
    }

    .nav_bg {
        position: absolute;
        background: hsla(0, 0%, 100%, .094);
        height: 20%;
        z-index: 1;
        left: 6%;
        top: 10%;
        border: 1px solid hsla(0, 0%, 100%, .05);
        align-items: center;
        justify-content: center;
        width: 85%;
        transition: .5s ease;
    }

    .navItems .navItem:nth-child(1).active~.nav_bg {
        border-radius: 50px;
    }

    .navItems .navItem:nth-child(2).active~.nav_bg {
        border-radius: 50px;
        left: 6%;
        top: 40%;
    }

    /* Target the third child */
    .navItems .navItem:nth-child(3).active~.nav_bg {
        border-radius: 50px;
        left: 6%;
        top: 68%;
    }
}