.dark {
  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #111;
  --black0: #000;
  --black1: #0e0e0f;
  --black2: #0a0a0a;
  --white1: #fff;
  --white2: #cccbcb;
  --offsetblack1: hsla(0, 0%, 100%, .08);
  --offsetblack2: hsla(0, 0%, 9%, .6);
  --offsetwhite1: hsla(0, 0%, 100%, .4);
  --offsetwhite2: #fff;
  --offsetsecondary1: rgba(50, 145, 255, .1);
  --offsetsecondary2: rgba(50, 180, 255, .1);
  --bs-md: rgba(0, 0, 0, .2) 0 1px 2px 0, rgba(0, 0, 0, .1) 0 1px 3px 0;
  --bs-lg: 0 30px 60px rgba(0, 0, 0, .12);
  --bs-inset1: inset 0 0 10px 8px rgba(74, 74, 74, .2);
  --bs-inset2: inset 0 0 10px 8px hsla(0, 0%, 7%, .5), inset 0 0 10px 8px hsla(0, 0%, 7%, .3);
  --bs-offset1: hsla(0, 0%, 53%, .1) 0 0 3px 2px, hsla(0, 0%, 53%, .05) 0 1px 3px 2px;
  --blue1: #0070f3;
  --blue2: #3291ff;
  --blue3: #7f95f5;
  --dividerBg: rgba(64, 100, 143, .1);
  --border-color: hsla(0, 0%, 100%, .14);
  --border: 1px solid var(--border-color);
  --text-shadow: 1px 1px 12px hsla(0, 0%, 100%, .4)
}

.light {
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: rgba(85, 85, 85, .2);
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --black0: #fff;
  --black1: #fafafa;
  --black2: #d4d4d4;
  --white1: #171717;
  --white2: #4c4c4c;
  --offsetblack1: rgba(0, 0, 0, .3);
  --offsetblack2: #f2f2f2;
  --offsetwhite1: hsla(0, 0%, 100%, .8);
  --offsetwhite2: hsla(0, 0%, 8%, .7);
  --offsetsecondary1: rgba(50, 145, 255, .1);
  --offsetsecondary2: rgba(50, 180, 255, .1);
  --bs-md: rgba(0, 0, 0, .2) 0 1px 2px 0, rgba(0, 0, 0, .1) 0 1px 3px 0;
  --bs-lg: 0 30px 60px rgba(0, 0, 0, .12);
  --bs-inset1: 0 0 0 #ccc, 0 0 0 #fff, 3px 3px 3px #ccc inset, -3px -3px 3px #fff inset;
  --bs-inset2: rgba(0, 0, 0, .2) 0 1px 2px 0, rgba(0, 0, 0, .1) 0 1px 3px 0;
  --bs-offset1: rgba(85, 85, 85, .2) 0 1px 2px 0, rgba(85, 85, 85, .1) 0 1px 3px 0;
  --blue1: #0070f3;
  --blue2: #153def;
  --blue3: #3291ff;
  --dividerBg: transparent;
  --border-color: rgba(0, 0, 0, .3);
  --border: 1px solid var(--border-color);
  --text-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

:root {
  --sans: "Inter", sans-serif, -apple-system, ui-sans-serif, system-ui, blinkmacsystemfont, sego ui, roboto, helvetica neue, arial, noto sans, sans-serif, monospace;
  --transition-left: left .2s ease-in-out;
  --transition-width: width .2s ease-in-out;
  --transition-prop-formui: border-color, background, color, transform, box-shadow;
  --radius1: 6px
}

*,
:after,
:before {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 18px;
  line-height: 1.15;
  scroll-behavior: auto;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-rendering: optimizeLegibility
}

#root,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

#root {
  text-rendering: optimizespeed
}

#body,
#root {
  overflow: hidden;
  position: relative
}

#body {
  background: var(--black0);
  color: var(--white1);
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: inherit;
  width: 100%
}

a,
button,
div,
h1,
h2,
h3,
h4,
input,
li,
p,
span,
textarea,
ul {
  font-family: Inter, sans-serif, -apple-system, ui-sans-serif, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, BlinkMacSystemFont, Helvetica Neue, Arial, monospace
}

h1,
h2,
h3,
h4 {
  font-weight: 700
}

button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: none;
  cursor: pointer;
  font-weight: 500;
  padding: 0 .75rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

button,
input,
textarea {
  background: none;
  border: 1px solid var(--black2);
  border-radius: var(--radius1);
  color: var(--white1);
  font-size: .875rem;
  line-height: 1.15;
  margin: 0;
  max-width: 100%;
  outline: none;
  text-transform: none;
  transition-duration: .15s;
  transition-property: var(--transition-prop-formui);
  transition-timing-function: ease
}

input,
textarea {
  padding: .5rem
}

textarea {
  resize: none
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
input[type=radio]:focus-visible + label,
textarea:focus-visible {
  box-shadow: 0 0 0 2px var(--blue2);
  outline: none
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--white1);
  font-size: .875rem;
  opacity: .7
}

input:-ms-input-placeholder,
input::-moz-placeholder,
input::placeholder,
textarea::placeholder {
  color: var(--white1);
  font-size: .875rem;
  opacity: .7
}

ul {
  list-style: none
}

a {
  color: var(--blue2);
  outline: 0;
  text-decoration: none
}

img {
  border: 0;
  height: auto;
  margin: 0;
  max-width: 100%;
  max-block-size: 100%;
  max-inline-size: 100%;
  padding: 0
}

svg {
  fill: var(--white1);
  height: 24px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 24px
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

::-moz-focus-inner {
  border-style: none;
  padding: 0
}

:-moz-focusring {
  outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
  box-shadow: none
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield
}

img[disabled] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: .5
}

a[disabled],
button[disabled],
input[disabled] {
  cursor: not-allowed;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.theme-switcher {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 120px
}

.theme-switcher button {
  background: transparent;
  border: var(--border);
  color: var(--white2);
  font-size: .925rem;
  font-weight: 500;
  height: 40px;
  width: 80px;
  z-index: 100
}

.theme-switcher button:hover {
  background: var(--black2)
}

.header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%
}

.header,
.navbar {
  position: relative
}

.navbar {
  border: 1px solid var(--accents-2);
  border-radius: 9999px;
  box-shadow: none;
  transform: scale(1.4);
  z-index: 10
}

.nav-x-init:after,
.nav-x-post:after {
  background: linear-gradient(to left, var(--accents-2) 20%, var(--accents-2) 44%, var(--accents-6) 50%, var(--accents-3) 60%, var(--accents-2) 63%, var(--accents-2) 100%);
  background-size: 200% auto;
  border-radius: inherit;
  bottom: -1px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transition: background-position-x .6s ease;
  width: 100%;
  z-index: -1
}

.nav-x-init:after {
  background-position-x: 87%
}

.nav-x-post:after {
  background-position-x: var(--x)
}

.navbar-root {
  background: var(--accents-1);
  display: flex;
  overflow: hidden;
  padding: 4px
}

.navbar-link,
.navbar-root {
  border-radius: inherit;
  position: relative
}

.navbar-link {
  background: transparent;
  border: 0;
  color: var(--accents-5);
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  padding: 0 20px;
  position: relative;
  text-transform: capitalize;
  transition: color .15s ease;
  z-index: 50
}

.navbar-link--active,
.navbar-link:hover {
  color: var(--accents-8);
  text-shadow: var(--text-shadow)
}

.navbar-link:focus-visible {
  box-shadow: 0 0 0 1px var(--accents-4)
}

.navbar-curr--glow,
.navbar-curr--pill,
.navbar-curr--stroke {
  pointer-events: none;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.navbar-curr--glow,
.navbar-curr--pill {
  border-radius: inherit;
  top: 4px
}

.navbar-curr--stroke {
  background: linear-gradient(90deg, transparent, var(--accents-4) 20%, var(--accents-2) 67.19%, transparent);
  height: 1px;
  left: 32px;
  position: absolute;
  top: -1px;
  width: 90%;
  z-index: -1
}

.navbar-curr--pill {
  background: linear-gradient(to right bottom, var(--accents-3), var(--accents-2));
  height: 36px;
  opacity: .8;
  transition: var(--transition-left), var(--transition-width);
  width: 79px
}

.navbar-curr--glow {
  background: var(--offsetwhite2);
  bottom: -52px;
  filter: blur(32px);
  height: 50px;
  transition: var(--transition-left);
  width: 39.5px;
  z-index: 0
}

.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%
}

.section-divider {
  background: linear-gradient(to left, var(--accents-2) 20%, var(--accents-2) 100%);
  height: 2px;
  margin: 0 auto;
  opacity: .4;
  z-index: 2
}

.lightbulb,
.section-divider {
  position: absolute;
  top: 0;
  width: 100%
}

.lightbulb {
  background: var(--white2);
  border-radius: 100%;
  filter: blur(64px);
  height: 16px;
  mix-blend-mode: normal;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1
}

.original {
  display:flex;
  font-size: .875rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  position:absolute;
  top:calc(50vh + 90px);
  left:0;
  z-index: 100;
  height: 50px;
}

.original button,
.original a {
  background: transparent;
  border: var(--border);
  color: var(--white2);
  font-size: .925rem;
  font-weight: 500;
  height: 40px;
  width: auto;
  border-radius: 6px;
  cursor:pointer;
  line-height: 40px;
  padding: 0 .75rem;
}
.original button {
  margin-right: 1rem;
}

@media screen and (max-width:580px) {
  .navbar {
    transform: scale(1.1)
  }
}

@media screen and (max-width:440px) {
  .navbar {
    transform: scale(1)
  }
}

@media screen and (max-width:360px) {
  .navbar {
    transform: scale(.8)
  }
}